<article class="post-listing">
  <a href="{{url}}">
    <h2>{{title}}</h2>
  </a>
  <p class="post-listing-excerpt">{{excerpt}}</p>
  <div class="post-listing-meta">
    <span>{{date published_at format="MMMM DD, YYYY"}}</span>
    <span class="post-listing-spacer">●</span>
    <span class="reading-time">{{reading_time}}</span>
    <span class="post-listing-spacer">●</span>
    {{>tags}}
  </div>
</article>