{{!< default}}

{{#post}}

<main>
  <div class="main-img" {{#if feature_image}} style="background: center / cover no-repeat url({{feature_image}}){{/if}}">
    <span class="attribution"></span>
  </div>
  <section class="main-content {{post_class}}" {{#if feature_image}} style="background: linear-gradient(90deg, hsla(188, 69%, 0%, 0.8), hsla(201, 31%, 25%, 0.8)), top / cover url({{feature_image}}), hsla(188, 69%, 0%, 0.8){{/if}}">
    {{navigation}}
    <h1>{{title}}</h1>
    <time class="post-full-meta-date" datetime="{{date format=" YYYY-MM-DD "}}">{{date format="D MMMM YYYY"}}</time>
    {{content}}
  </section>
</main>

{{/post}}

{{#contentFor "scripts"}}
  <script type="text/javascript" src="{{asset "js/attribution.js"}}"></script>
  <script type="text/javascript">initAttribution();</script>
{{/contentFor}}